.name2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; /*전체 너비 활용*/
    width: 100%;
}

.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;   /*Aside를 제외한 남은 수평 공간을 모두 차지*/
}